<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/startmin.css') }}" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        {% autoescape off %}
        $('.active').click(function() {
            var dashboards = {{ dashboards }};
            $('.dashboard').attr('src', dashboards[$(this).text()]);
            console.log(dashboards);
            console.log(dashboards[$(this).text()]);
        }); {% endautoescape %}

        $('.add-dashboard').click(function(event) {
            event.preventDefault();
            $.ajax({
                url: '/add-dashboard',
                data: $('.add-dashboard-form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                    window.location.href = 'dashboard'
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $('.logout').click(function(event) {
            event.preventDefault();
            $.ajax({
                url: '/signout',
                type: 'POST',
                success: function(response) {
                    window.location.href = 'index';
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

    </script>
</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Developed by Wasiq Noor</a>
            </div>


            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Dashboard</h4>
                        </div>

                        <form class="add-dashboard-form">
                            <input type="text" class="form-control" name="dashboard-name" placeholder="Dashboard Name" required="" autofocus="" />
                            <input type="text" class="form-control" name="dashboard-url" placeholder="Dashboard Url" required="" />
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default add-dashboard" data-dismiss="modal">Add</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <ul class="nav navbar-right navbar-top-links">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{ session['username'] }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" class="logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw"></i>Add Dashboard</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% for keys in dashboards %}
                        <li>
                            <a href="#" class="active"><i class="fa fa-fw"></i>{{ keys }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                    <div>
                        <iframe class="dashboard" width="800" height="600" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>
