<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>PowerBI Dashboards</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>
    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" name="username" placeholder="Email Address"
                   required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <span class="error-message"></span>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>

    <script>
        $('.btn-primary').click(function(event) {
            event.preventDefault();
            $.ajax({
                url: '/login',
                data: $('.form-signin').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                    if (response['login-status'] == false) {
                        $('.error-message').text('Invalid username or password');
                    }
                    else {
                        window.location.href = 'dashboard';
                    }

                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

    </script>
</body>

</html>
